@model ComicBookGallery.Models.Drawing[]
@{
    ViewBag.Title = "Drawing Register";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    
    <table class="table table-striped">
        <thead>
            <tr>  
                <th>Drawing Number</th>
                <th>Drawing Revision</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var drawing in Model)
            {
                <tr>
                    
                    <td>@drawing.DrawingNumber</td>
                    <td></td>
                    <td>@drawing.DrawingName</td>
                    <!--<td><button class="btn-primary">Add Rev.</button></td>-->
                    <td>
                        @Html.ActionLink("New Rev.", "RevCreate", "Drawings", new { id = drawing.Id }, new { @class = "btn btn-xs btn-info" })
                        @Html.ActionLink("Edit", "Detail", "Drawings", new { id = drawing.Id }, new { @class = "btn btn-xs btn-info"})
                    </td>
                    </tr>
                    foreach (var revision in drawing.DrawingRevisions)
                    {
                    <tr>
                        <td></td>
                        <td>@revision.ID</td> 
                        <td>@revision.Name</td>
                        <td>@Html.ActionLink("Edit", "Detail", "Drawings", new { id = drawing.Id }, new { @class = "btn btn-xs btn-info" })</td>
                    </tr>
                    }
                    
                    
                
            }
            </tbody>

</table> 
</div>

