@model List<ComicBookGallery.Models.Drawing>
@{
    ViewBag.Title = "Drawing Register";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["Message"]
    </div>
}

<div class="stats">
    <h2 class="stats-header h3">Number of Drawings</h2>
    <div class="stats-left">
        <span class="stats-number">@ViewBag.NumOfDrawings.ToString("n0")</span> total
    </div>
    <div class="stats-right">
        <span class="stats-number">Something</span> total
    </div>
</div>

<h2>@ViewBag.Title</h2>

@*<div class="row">*@
    
    <table class="table table-hover">
        <thead>
            <tr>  
                <th>Drawing Number</th>
                <th>Drawing Revision</th>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var drawing in Model)
            {
                <tr>
                    
                    <td>@drawing.DrawingNumber</td>
                    <td></td>
                    <td>@drawing.DrawingName</td>
                    <td>
                        <div class="pull-right">
                            <a href="@Url.Action("Detail", new { id = drawing.Id })" class="btn btn-warning btn-sm margin-right">
                                <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                            </a>
                            <a href="@Url.Action("RevCreate", new { id = drawing.Id })" class="btn btn-success btn-sm margin-right">
                                <span class="glyphicon glyphicon-plus"></span><span class="hidden-xs"> New Rev.</span>
                            </a>
                            <a href="@Url.Action("Delete", new { id = drawing.Id })" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                            </a>
                        </div>
                        @*@Html.ActionLink("New Rev.", "RevCreate", "Drawings", new { id = drawing.Id }, new { @class = "btn btn-xs btn-info" })
                        @Html.ActionLink("Edit", "Detail", "Drawings", new { id = drawing.Id }, new { @class = "btn btn-xs btn-info"})*@
                    </td>
                    </tr>
                    @*<tr>
                        @{var revisions = DrawingRepository }
                    </tr>*@
                    foreach (var revision in drawing.Revisions)
                    {
                    <tr>
                        <td></td>
                        <td>@revision.ID</td> 
                        <td>@revision.Name</td>
                        <td>
                            <div class="pull-right">
                                <a href="@Url.Action("RevDetail", new { rid = drawing.Id + "x" + revision.ID })" class="btn btn-warning btn-sm margin-right">
                                    <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                                </a>
                                <a href="@Url.Action("Delete", new { id = drawing.Id })" class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    }
                    
                    
                
            }
            </tbody>

</table> 
@*</div>*@

